.container {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.item {
  position: relative;
  width: 30%;
  height: 100%;
  font-size: 14px;
  border: 5px solid lightblue;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title {
  position: sticky;
  top: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;

  color: #fff;
  text-align: center;
}
.btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  border: none;
  outline: transparent;
  box-shadow: none;
  height: 30px;
}
.btn.close {
  background-color: lightblue;
  color: #fff;
}
.btn.open {
  background-color: #fff;
  color: lightblue;
}
.btn.open:hover {
  color: lightskyblue;
}

.room {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.room,
.empty {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 40px);
}

.messageList {
  flex: 1 1 100%;
  overflow-y: scroll;
  padding-bottom: 40px;
}
.msgBox {
  display: flex;
  margin: 10px;
}
.reverse {
  flex-direction: row-reverse;
}
.avator {
  flex: 0 0 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 8px;
  background-color: lightskyblue;
  color: #fff;
  text-align: center;
  line-height: 35px;
}
.reverse .avator {
  background-color: lightsalmon;
}

.msg {
  flex: 1 1 100%;
  word-break: break-all;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 0 5px;
  margin: 5px;
  overflow: hidden;
}
.messageList::-webkit-scrollbar {
  display: none;
}

.inputGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}
.inputGroup .input,
.inputGroup .input:focus {
  height: 100%;
  flex: 1 1 80%;
  width: 80%;
  border: 2px solid #f0f0f0;
  outline: transparent;
  box-sizing: border-box;
}

.inputGroup .submitBtn {
  height: 100%;
  flex: 1 1 20%;
  font-size: 10px;
  white-space: nowrap;
  background-color: #f0f0f0;
}
.inputGroup .submitBtn:hover {
  background-color: lightskyblue;
}
